**/__pycache__/
*.pyc
src/audio-pt-BR.mp3
src/Get_Loops_Get_Insights.mp4
src/subtitles-en.srt
src/subtitles-pt-BR.srt
src/videoplayback.mp4
*.mp3
*.srt
*.mp4
src/asrOutput.json
src/tranlation.json
src/videoplayback_parte5-OLD.json
